header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	font-family: Arial, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.App-logo {
	height: 120px;
    margin-right: 40px;
}

.nav-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    font-weight: bold;
    margin-bottom: -10px;
    font-family: "Bungee";
}

header > div {
	display: flex;
	gap: 30px;
	flex-grow: 1;
	justify-content: center;
	font-weight: bold;
}

header a {
	text-decoration: none;
	color: black;
	position: relative;
	padding-bottom: 5px;
}

header a:hover {
    color: #d3182f;
}