.scene7 {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.scene7-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.foreground-trees {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: none;
  z-index: 10;
}

.tower {
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  max-width: none;
  z-index: 10;
}

.story-text {
  position: fixed;
  top: 50%;
  left: 20%;
  color: white;
  font-size: 30px;
  font-family: "Crimson Text", "serif";
  font-weight: 400;
  text-align: center;
  z-index: 10;
}

.no-scroll {
  overflow: hidden;
}

.background-image,
.witch,
.story-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}